#topbar > ol > li > a {
  font-size: 1.3rem;
  transition: 1s;
  position: relative;
  padding: 14px 30px;
}
#topbar > ol > li > a::after {
  top: 100%;
  left: 10%;
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: yellow;
  transition: 0.4s;
}
#topbar > ol > li:hover > a::after {
  width: 80%;
  background-color: rgb(250, 87, 87);
}
header {
	src: url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
	font-family: "Hi Melody", cursive;
}

.menubar {
	position: relative;
}

.menubar>ol {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.menubar:hover>ol {
	display: block;
}
#topbar>ol>li>ol>li>a {
	display: block;
}